<p id="notice"><%= notice %></p>

<h1>Rest Finishes</h1>

<table>
  <thead>
    <tr>
      <th>Rest</th>
      <th>Finished at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rest_finishes.each do |rest_finish| %>
      <tr>
        <td><%= rest_finish.rest_id %></td>
        <td><%= rest_finish.finished_at %></td>
        <td><%= link_to 'Show', rest_finish %></td>
        <td><%= link_to 'Edit', edit_rest_finish_path(rest_finish) %></td>
        <td><%= link_to 'Destroy', rest_finish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rest Finish', new_rest_finish_path %>
