<p id="notice"><%= notice %></p>

<p>
  <strong>Rest:</strong>
  <%= @rest_finish.rest_id %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @rest_finish.finished_at %>
</p>

<%= link_to 'Edit', edit_rest_finish_path(@rest_finish) %> |
<%= link_to 'Back', rest_finishes_path %>
