<p id="notice"><%= notice %></p>

<p>
  <strong>Attendance:</strong>
  <%= @clock_out.attendance_id %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @clock_out.finished_at %>
</p>

<%= link_to 'Edit', edit_clock_out_path(@clock_out) %> |
<%= link_to 'Back', clock_outs_path %>
