<%= form_with(model: rest) do |form| %>
  <% if rest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rest.errors.count, "error") %> prohibited this rest from being saved:</h2>

      <ul>
        <% rest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :attendance_id %>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.datetime_select :started_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
