<%= turbo_frame_tag 'attendances', data: { controller: 'working-time' } do %>
  <table>
    <thead>
      <tr>
        <th>Work date</th>
        <th>Started at</th>
        <th>Rests</th>
        <th>Finished at</th>
        <th>Length</th>
      </tr>
    </thead>

    <tbody>
      <% attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.work_date %></td>
          <td><%= link_to attendance.started_at.strftime('%H:%M'), edit_attendance_path(attendance), data: { turbo_frame: 'form' } %></td>
          <td>
          <% attendance.rests.each { |r| %>
            <%= link_to r.started_at.strftime('%H:%M'), edit_rest_path(r), data: { turbo_frame: 'form' } %>
            -
            <%= (f = r.rest_finish) && link_to(f.finished_at.strftime('%H:%M'), edit_rest_finish_path(f), data: { turbo_frame: 'form' }) %>
            <br>
          <% } %>
          <td><%= (c = attendance.clock_out) && link_to(c.finished_at.strftime('%H:%M'), edit_clock_out_path(c), data: { turbo_frame: 'form' }) %></td>
          <td>
            <% if c %>
              <%= Time.at(attendance.length).utc.strftime('%H:%M') %>
            <% else %>
              <%= turbo_frame_tag "working_time" do %>
                <span class="working-time"><%= Time.at(attendance.worked_time_until(Time.now)).utc.strftime('%H:%M') %></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '更新', working_time_attendance_path(attendances.last), data: { turbo_frame: 'working_time' }, id: 'update-working-time-link' %>

  <br>

  <%= turbo_frame_tag 'form' do %>
    <%= render_forms_for_attendance(last_attendance) %>
  <% end %>
<% end %>
