<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Work date</th>
      <th>Started at</th>
      <th>Rests</th>
      <th>Finished at</th>
      <th>Length</th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.work_date %></td>
        <td><%= link_to attendance.started_at.strftime('%H:%M'), edit_attendance_path(attendance) %></td>
        <td><%= attendance.rests.map { |r| "#{r.started_at.strftime('%H:%M')} - #{r.rest_finish&.finished_at&.strftime('%H:%M')}" }.join('<br>').html_safe %></td>
        <td><%= attendance.clock_out&.finished_at&.strftime('%H:%M') %></td>
        <td><%= Time.at(attendance.length).utc.strftime('%H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= @state %>

<% case @state %>
<% when :not_at_work %>
  <%= render 'attendances/form', attendance: @attendance %>
<% when :at_work %>
  <%= render 'rests/form', rest: @rest %>
  <%= render 'clock_outs/form', clock_out: @clock_out %>
<% when :on_a_break %>
  <%= render 'rest_finishes/form', rest_finish: @rest_finish %>
<% end %>

<%= link_to 'Report', report_attendances_path %>
