<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Work date</th>
      <th>Started at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.work_date %></td>
        <td><%= attendance.started_at %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= @state %>

<% case @state %>
<% when :not_at_work %>
  <%= render 'attendances/form', attendance: @attendance %>
<% when :at_work %>
  <%= render 'rests/form', rest: @rest %>
  <%= render 'clock_outs/form', clock_out: @clock_out %>
<% when :on_a_break %>
  <%= render 'rest_finishes/form', rest_finish: @rest_finish %>
<% end %>
