<p id="notice"><%= notice %></p>

<p>
  <strong>Work date:</strong>
  <%= @attendance.work_date %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @attendance.started_at %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
